*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

.home{

height:100vh;

background:url("../assets/workshop.png");

background-size:cover;

background-position:center;
}

.overlay{

width:100%;

height:100vh;

background:rgba(0,0,0,.65);

display:flex;

justify-content:center;

align-items:center;
}

.home-card{

width:550px;

padding:45px;

border-radius:20px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(12px);

text-align:center;

color:white;

box-shadow:0 15px 40px rgba(0,0,0,.4);

}

.home-card h3{

color:#ffc107;

letter-spacing:4px;
}

.home-card h1{

font-size:60px;

color:#00c3ff;

margin:10px 0;
}

.home-card h2{

margin-bottom:15px;
}

.home-card p{

line-height:28px;

color:#ddd;

margin-bottom:35px;
}

.home-buttons{

display:flex;

justify-content:center;

gap:20px;
}

.home-buttons button{

padding:15px 35px;

font-size:18px;

border:none;

border-radius:8px;

cursor:pointer;

transition:.3s;

font-weight:bold;
}

.admin-btn{

background:#007bff;

color:white;
}

.admin-btn:hover{

background:#0056b3;

transform:translateY(-4px);
}

.customer-btn{

background:#28a745;

color:white;
}

.customer-btn:hover{

background:#1d7f34;

transform:translateY(-4px);
}